.form-control {
  margin: 0 0 5px 0;
}

.gender-choice {
  border-radius: 5px;
}

.add-btn {
  margin: 0;
  position: absolute;
  top: 7rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
