<h2 class="d-flex justify-content-center">Pokémons</h2>

<div class="mb-4 mt-4 row d-flex justify-content-center">
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Pokémon" [(ngModel)]="currentPokemonName">
    <input type="text" class="form-control" placeholder="Image" [(ngModel)]="currentPokemonPicture">
    <select [(ngModel)]="currentPokemonSex" class="gender-choice">
      <option ngValue="male">Male</option>
      <option ngValue="female">Femelle</option>
    </select>
  </div>
</div>

<div class=" mb-4 d-flex justify-content-center">
  <button (click)="onAddPokemonBtnClick()" [disabled]="isButtonDisabled" class="btn btn-primary add-btn">Ajouter
    Pokémon</button>
</div>

<div class="mb-4 text-success" *ngIf="hasAddedAPokemon; else noPokemon">
  Un Pokémon a été ajouté ! Son nom est : {{ currentPokemonName }}
</div>

<ng-template #noPokemon>
  <div class="mb-4 d-flex justify-content-center">
    Aucun Pokémon n'a été ajouté.
  </div>
</ng-template>

<ng-container *ngFor="let pokemon of pokemons; let i = index">
  <app-pokemon-item class="pokemon-list" [routerLink]="['/pokemon', pokemon.name]" [name]="pokemon.name"
    [picture]="pokemon.picture" [sex]="pokemon.sex" (onDelete)="onDeletePokemon($event, i)"
    [level]="pokemon.level"></app-pokemon-item>
</ng-container>
